#plan {
    width: 100%;
    padding: 1em 2em;
    margin-bottom: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .contents {
        width: 50%;
        padding: 1.5em;
        p {
            font-size: 1.5em;
            strong {
                color: $purple;
                font-size: 1.1em;
            }
        }
    }
    .planList {
        width: 50%;
        padding: 1.5em 2em;
        border: 1px solid #ccc;
        ul {
            width: 100%;
            li {
                padding: 10px;
                border-bottom: 1px solid #eee;
                > .data {
                    font-size: 0.8em;
                    display: inline-block;
                    color: #999;
                    margin-bottom: 5px;
                    margin-right: 10px;
                }
                > .title {
                    text-indent: 10px;
                    color: #777;
                    > strong {
                        color: #555;
                        font-weight: 500;
                        font-size: 1.2em;
                        letter-spacing: 1px;
                    }
                }
            }
        }
        // board 이동 버튼
        a {
            display: block;
            text-align: right;

            &:hover {
                svg {
                    transform: translateX(5px);
                }
            }
            span {
                font-size: 12px;
                margin-right: 5px;
                color: #999;
            }
            svg {
                width: 2em;
                height: 2em;
                color: #999;
                transition: 0.2s;
            }
        }
    }
}
