@use "./common" as common;
@use "./theme";
.sectionWrap {
  width: 100%;
  height: 500px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;

  .calendar {
    // @include common.size(70%, 90%);
    width: 60%;
    height: 90%;

    .header {
      //  @include common.size(100%, 7%);
      width: 100%;

      @include common.flex-row(space-between, baseline);
      .col.col-start {
        @include common.size(80%, 100%);
        @include common.flex-column(center, flex-start);

        // margin-left: 1%;
        .text {
          font-size: 0.8em;
          color: rgba($color: $purple, $alpha: 0.8);
        }
        .text.month {
          margin-right: 5px;
          font-size: 1.6em;
          font-weight: 600;
        }
      }
      .col.col-end {
        @include common.size(20%, 100%);
        @include common.flex-row(flex-end, baseline);
        svg {
          width: 1.6em;
          height: 1.6em;
          // @include common.size(11%, fit-content);
          margin-left: 5%;
          color: #999;
          &:hover {
            @include common.hover-event();
            transform: scale(1.15);
            color: theme.$dark-gray-color;
          }
        }
      }
    }
    .days {
      width: 100%;
      margin: inherit;
      width: 100%;
      height: fit-content;
      border-bottom: 1px solid #ccc;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 600;
      font-size: 0.8em;
      padding: 5px;
      color: theme.$dark-gray-color;

      .col {
        width: 12.9%;
        height: 100%;
        padding: inherit;
        @include common.flex-column(center, center);
      }
    }
    .body {
      width: 100%;
      height: 93%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .row {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .col {
          // @include common.size(13.5%, 93%);
          width: 13.5%;
          height: 93%;
          display: flex;
          justify-content: center;
          align-items: center;
          // border: 0.4px solid transparentize(gray, 0.4);
          // border: 1px solid red;
          // border-radius: 50%;
          // padding: 10px;
          font-size: 0.8em;

          .not-valid {
            color: theme.$gray-color;
          }
        }
        .col.cell.valid {
          &:hover {
            // @include common.hover-event();
            // @include common.shadow(1.5px, theme.$dark-gray-color, 0.1);
            // transform: scale(1.01);
            // border: none;
            background: rgba($color: #ccc, $alpha: 0.5);
          }
        }
        .col.cell.selected {
          // @include common.shadow(1.5px, $yellow, 0.1);
          // transform: scale(1.02);
          // border: none;
          background: rgba($color: $yellow, $alpha: 0.5);
          color: theme.$main-color;
          font-weight: 600;
          color: #111;
        }
      }
    }
  }
  .todoInput {
    width: 40%;
    padding: 10px 20px;
    position: relative;
    p.inputDate {
      font: normal 16px/1 "nanum gothic";
      color: $purple;
      strong {
        font-size: 20px;
      }
    }
    input {
      width: 100%;
      border: none;
      border-bottom: 1px solid #c7c7c7;
      padding: 10px;
      margin-bottom: 20px;
    }
    .saveBtn {
      width: 80px;
      height: 40px;
      border: none;
      background: $purple;
      color: $white;
      font: normal 14px/1 "nanum gothic";
      opacity: 0.8;
      position: absolute;
      right: 30px;
      margin-top: 15px;

      &:hover {
        opacity: 1;
      }
    }
  }
}
.todoList {
  width: 100%;
  ul.savedList {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    > li {
      border: 1px solid #ddd;
      margin-bottom: 10px;
      padding: 30px;
      width: 100%;
      &:hover {
        background-color: rgba($color: #eee, $alpha: 0.3);
      }
      p.date {
        font-size: 16px;
      }
      .contents {
        // 보여주기
        > h3 {
          font-size: 25px;
          color: #555;
        }

        // 수정모드
        input {
          padding: 0.5em;
          width: 70%;
          margin: 10px;
        }
      }

      .btnWrap {
        text-align: right;
        .creator {
          margin-right: 10px;
          font-size: 1em;
          color: #999;
        }
        > button {
          width: 30px;
          height: 30px;
          background-color: transparent;
          margin: 0 5px;
          svg {
            width: 100%;
            height: 100%;
            color: #c7c7c7;
            &:hover {
              color: #a7a7a7;
            }
          }
        }
      }
    }
  }
}
