.info {
  left: 50%;
}
.borderline {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: linear-gradient(90deg, $green, $yellow, $purple);
  position: relative;
}

.profile_img {
  background-image: url(../../../../public/favicon.png);
  width: 280px;
  height: 280px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  position: absolute;
  //   margin: auto;
  left: 10px;
  bottom: 10px;
}
