#board {
  padding: 2em 6em;
  .wrap {
    display: flex;

    .left {
      border-right: 1px solid #ccc;
      padding-right: 15px;

      .menu {
        text-align: center;
        h3 {
          color: #ccc;
        }
        .nav {
          display: flex;
          flex-direction: column;
          li {
            cursor: pointer;
            // background: rgba($color: $purple, $alpha: 0.4);
            padding: inherit;
            width: 100%;
            height: 50px;
            line-height: 50px;
            // margin: 5px;
            font-size: 24px;
            color: #777;
            &:active,
            &:hover,
            &:focus {
              background: rgba($color: $purple, $alpha: 0.4);
            }
          }
        }
      }
    }
    .right {
      width: 100%;
      padding: 1rem 2rem 10rem;
      .show {
        width: 100%;
      }
    }
  }
}
