.introduce {
  padding: 20px 50px;
  display: flex;
  gap: 50px;

  .left {
    display: flex;
    flex: 1;
  }

  .right {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 25px;

    p {
      font-size: 18px;
      text-align: justify;
    }

    .icons {
      display: flex;
      gap: 20px;

      .item {
        display: flex;
        align-items: center;
      }
    }
  }
}
