@charset "UTF-8";

$green: #1fde91;
$purple: #c79aff;
$yellow: #fbfe56;
$blue: #0096f7;
$white: #f7f7f0;

$tablet: 1199px;
$mobile: 768px;

/*
반응형
// 890px ~ 1199px
@media screen and(max-width: $tablet){
    
}

// 768px ~ 889px
@media screen and(max-width: 889px){
    
}

// 540px ~ 767px
@media screen and(max-width: $mobile){
    
}

// ~539px
@media screen and(max-width: 539px){

}
*/

body {
  background: $white;
}
@import "reset";

// components
@import "./components/header";
@import "./components/Board/stars";
@import "./components/Board/profile";
@import "./components/login";
@import "./components/register";

// main
@import "./components/main/intro";
@import "./components/main/popular";
@import "./components/main/best";
@import "./components/main/plan";

// tour
@import "./components/tour/popularArea";
@import "./components/tour/restaurant";
@import "./components/tour/restaurantPage";
@import "./components/tour/tourArea";

// pages
@import "./pages/main";
@import "./pages/board";
